﻿.column {
    height: 50px;
    /*border: 1px solid rgba(0, 0, 0, 0.60);
    background-color: #afeef5;*/
}

.my-row {
    margin-top: 40px;
}

/*.bookmark-bar {
    margin-top: 20px;
    background-color: rgba(128, 128, 128, 0.60);
}

.top-destinations {
    margin-top: 50px;
    height: 500px;
    background-color: rgb(247, 171, 171);
}*/

.destination {
    height: 480px;
    border: 1px solid rgba(0, 0, 0, 0.60);
    background-color: #afeef5;
}

.destination .destination {
    height: 240px;
}