﻿
#page
{
	width: 500px;
	padding: 50px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #333;
}

h1
{
	font-size: 1.6em;
	font-weight: normal;
	margin: 0;
}

h2
{
	position: relative;
	width: 20%;
	font-size: 1.5em;
	font-weight: bold;
	padding: 6px 20px 6px 71px;
	margin: 30px 10px 10px -71px;
	color: #555;
	background-color: #ffa500 ;
	text-shadow: 0px 1px 2px #bbb;
	-webkit-box-shadow: 0px 2px 4px #888;
	-moz-box-shadow: 0px 2px 4px #888;
	box-shadow: 0px 2px 4px #888;
}

h2:before, h2:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
}

h2:before
{
	width: 30px;
	left: -30px;
	top: 12px;
	border-width: 20px 10px;
	border-style: solid;
	border-color: #ffa500  #ffa500  #999 transparent;
}

h2.simple:before
{
	display: none;
}

h2.flag:before
{
	width: 0px;
	left: auto;
	right: -2px;
	top: 0px;
	border-color: transparent #fff transparent transparent;
}

h2:after
{
	left: 0px;
	top: 100%;
	border-width: 5px 10px;
	border-style: solid;
	border-color: #666 #666 transparent transparent;
}

﻿#page
{
	width: 500px;
	padding: 50px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #333;
}

h1
{
	font-size: 1.6em;
	font-weight: normal;
	margin: 0;
}

h2
{
	position: relative;
	width: 20%;
	font-size: 1.5em;
	font-weight: bold;
	padding: 6px 20px 6px 71px;
	margin: 30px 10px 10px -71px;
	color: #fff;
	background-color: #ff6a00;
	text-shadow: 0px 1px 2px #bbb;
	-webkit-box-shadow: 0px 2px 4px #888;
	-moz-box-shadow: 0px 2px 4px #888;
	box-shadow: 0px 2px 4px #888;
}

h2:before, h2:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
}

h2:before
{
	width: 30px;
	left: -30px;
	top: 12px;
	border-width: 20px 10px;
	border-style: solid;
	border-color: #999 #999 #999 transparent;
}

h2.simple:before
{
	display: none;
}

h2.flag:before
{
	width: 0px;
	left: auto;
	right: -2px;
	top: 0px;
	border-color: transparent #fff transparent transparent;
}

h2:after
{
	left: 0px;
	top: 100%;
	border-width: 5px 10px;
	border-style: solid;
	border-color: #666 #666 transparent transparent;
}
﻿#page
{
	width: 500px;
	padding: 50px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #333;
}

h1
{
	font-size: 1.6em;
	font-weight: normal;
	margin: 0;
}

h2
{
	position: relative;
	width: 20%;
	font-size: 1.5em;
	font-weight: bold;
	padding: 6px 20px 6px 71px;
	margin: 30px 10px 10px -71px;
	color: #fff;
	background-color: #ff6a00;
	text-shadow: 0px 1px 2px #bbb;
	-webkit-box-shadow: 0px 2px 4px #888;
	-moz-box-shadow: 0px 2px 4px #888;
	box-shadow: 0px 2px 4px #888;
}

h2:before, h2:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
}

h2:before
{
	width: 30px;
	left: -30px;
	top: 12px;
	border-width: 20px 10px;
	border-style: solid;
	border-color: #999 #999 #999 transparent;
}

h2.simple:before
{
	display: none;
}

h2.flag:before
{
	width: 0px;
	left: auto;
	right: -2px;
	top: 0px;
	border-color: transparent #fff transparent transparent;
}

h2:after
{
	left: 0px;
	top: 100%;
	border-width: 5px 10px;
	border-style: solid;
	border-color: #666 #666 transparent transparent;
}
﻿
h2
{
	position: relative;
	width: 100%;
	font-size: 1.5em;
	font-weight: bold;
	padding: 6px 20px 6px 71px;
	//margin: 30px 10px 10px -71px;
    margin-left:-1px; 
	color: #fff;
	background-color: #ff6a00;
	text-shadow: 0px 1px 2px #bbb;
	-webkit-box-shadow: 0px 2px 4px #888;
	-moz-box-shadow: 0px 2px 4px #888;
	box-shadow: 0px 2px 4px #888;
}

h2:before, h2:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
}

h2:before
{
	width: 30px;
	left: -30px;
	top: 12px;
	border-width: 20px 10px;
	border-style: solid;
	border-color: #999 #999 #999 transparent;
}

h2.simple:before
{
	display: none;
}

h2.flag:before
{
	width: 0px;
	left: auto;
	right: -2px;
	top: 0px;
	border-color: transparent #fff transparent transparent;
}

h2:after
{
	left: 0px;
	top: 100%;
	border-width: 5px 10px;
	border-style: solid;
	border-color: #666 #666 transparent transparent;
}


.btn btn-link {
  font-weight: normal;
  color: #428bca;
  cursor: pointer;
  border-radius: 0;

}

.btn btn-default btn-lg {
    padding-top:20PX;
}


 .image {
            height: 250px;
            width: 300px;
            background-color: black;
            background-image:url("/bootstrap/img/Travel-Types-Hotels.jpg");
            background-position: top left;
            background-repeat: no-repeat;
            background-size: 100%;

        }

.annotation {
    position: relative;
    top: 80%;
    height: 20%;
    width: inherit;
    background-color: rgba(5, 5, 5, 0.0);
}

 .landing-header-content {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 3px;
  padding: 20px;
}
 .landing-header-content p {
  color: white;
}
 .landing-img {
  width: 100%;
  border: 3px solid white;
  position: relative;
}



 .img-overlay {
    position: relative;
    max-width: 500px;
}

.project-overlay {
background-color: rgba(41, 128, 185, 0.9);
bottom: 0;
color: #fff;
height: 30%;
left: 0;
//padding: 50%;
position: absolute;
width: 100%;
}

.portfolio_description {
    position:absolute;
    width:90%;
    top:68%;
    left: 6%;
   
    background-color:rgba(0,0,0, 0.3);
    padding-left: 20px;
    padding-right: 15px;
    padding-bottom: 5px;
}
.portfolio_description h3
{
    color: white;
}

img
{
    border: 10px solid white;
}


.container{
    background-color:#f8e5e5;
}

.mybtn{
    margin-left:10px;
}

.thumbelina {
    height: 180px; width: 100%; display: block;
}

.thumbheader {
    color: #428bca;
    float:left;
    padding:10px;
    font:15px; 
   
}

.thumb{
     display: block;
  padding: 10px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}

.stars{
    color: #ffd700;
    text-shadow: 1px 1px 1px #ccc;
}

.price {
    float:right;
    font-size:18px;
    padding:3px 5px 0px 0px;
}

.night{
    font-size:12px;
    color:#bbb;
    float:right;
    padding:0px 5px 0px 0px;  
}

.star_row {
    padding-left:20px;
    padding-top: 0px;
}

.fmore{
    float:right;
    padding-top:-10px;
    font-size:10px;
}